<section class="header">
    <div class="container-fluid">
        <div class="row">
            <div class="d-flex align-items-center justify-content-between">
                <div class="left d-flex align-items-center">
                    <div class="logo">
                        <img src="../../assets/img/apptivo.png" alt="" width="120px">
                    </div>
                    <div class="menu-items d-flex">
                        <li>
                            <a href="#" class="link-items">CRM</a>
                        </li>
                        <li>
                            <a href="#" class="link-items">Financials</a>
                        </li>
                        <li>
                            <a href="#" class="link-items">Project Management</a>
                        </li>
                        <li>
                            <a href="#" class="link-items">Employee</a>
                        </li>
                        <li>
                            <a href="#" class="link-items">Cash Management</a>
                        </li>
                        <li>
                            <a href="#" class="link-items">More</a>
                        </li>
                    </div>
                </div>
                <div class="right d-flex align-items-center">
                    <div class="input-group rounded">
                        <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
                            aria-describedby="search-addon" />
                        <span class="search-icon"></span>
                    </div>
                    <div class="icons-header d-flex align-items-center">
                        <li><a href="#">
                            <img src="../../assets/img/notification.png" alt="" width="25px" height="25px">
                        </a></li>
                        <li><a href="#">
                            <img src="../../assets/img/app-store.png" alt="" width="30px" height="30px">
                        </a></li>
                        <li><a href="#">
                            <img src="../../assets/img/ticket.png" alt="" width="28px" height="28px">
                        </a></li>
                    </div>
                    <a href="#" class="user-pro d-flex align-items-center">
                        <div><img src="../../assets/img/man.png" alt="" width="28px" height="28px"></div>
                        <div><span class="user-name"> SURIYASJ</span></div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>