<div class="overview-com px-2">
    <mat-tab-group class="inner-tabs" mat-stretch-tabs="false" mat-align-tabs="start">
        <mat-tab>
            <ng-template mat-tab-label>
                <img src="../../assets/img/user.png" alt="" width="20px" height="20px"> <span>General Data</span>
            </ng-template>
            <app-general-data></app-general-data>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <img src="../../assets/img/filter.png" alt="" width="20px" height="20px"> <span>Leads</span>
            </ng-template>
            <app-leads></app-leads>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <img src="../../assets/img/lamp.png" alt="" width="20px" height="20px"> <span>Opportunities</span>
            </ng-template>
            Content 3
        </mat-tab>
    </mat-tab-group>
    
</div>