.general-data{
    background-color: #fff;
}
.list-btn.d-flex {
    column-gap: 20px;
    margin: 20px 0px 0px 20px;
}
.name{
    font-size: 16px;
    color: #464646;
    margin-left: 22px;
    font-weight: 400;
}
li.btn-pro a {
    color: #fff;
    background: #4C8FFB;
    padding: 5px;
    display: inline-block;
    text-align: center;
    border-radius: 3px;
    max-width: 126px !important;
    width: 126px !important;
}
.div{
    column-gap: 20px;
}
.mat-expansion-panel {
    background: #fff;
    color: #000;
}
mat-panel-title.mat-expansion-panel-header-title {
    color: #464646;
    font-size: 14px;
    font-weight: 400;
}
::ng-deep .mat-expansion-indicator::after {
    color: #000 !important;
}
::ng-deep .mdc-text-field--filled.mdc-text-field--disabled {
    background-color: #fff !important;
    border: 1px solid #EDEDED;
}
::ng-deep .mdc-text-field--filled.mdc-text-field--disabled .mdc-text-field__input{
    color: #000 !important;
}
label{
    font-size: 14px;
}
::ng-deep .example-full-width .mat-input-element {
    height: 24px !important; 
}
::ng-deep .mat-mdc-form-field-flex {
    display: inline-flex;
    align-items: baseline;
    box-sizing: border-box;
    width: 100%;
    height: 40px !important;
}
::ng-deep .mdc-text-field--no-label:not(.mdc-text-field--outlined):not(.mdc-text-field--textarea) .mat-mdc-form-field-infix {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}
.relative img {
    position: absolute;
    width: 25px;
    height: 25px;
    right: 16px;
    top: 17%;
}
.convert img {
    position: absolute;
    width: 25px;
    height: 25px;
    right: 76px;
    top: 17%;
}
.print img {
    position: absolute;
    width: 25px;
    height: 25px;
    right: 136px;
    top: 17%;
}