<section class="general-data p-4">
    <div class="d-flex align-items-baseline">
        <div class="image">
            <img src="../../../assets/img/Group 21.png" alt="">
        </div>
        <div class="user-controls">
            <span class="name">Jeff Aldorisio</span>
            <div class="list-btn d-flex">
                <li class="btn-pro"><a href="#">Add to Target List</a></li>
                <li class="btn-pro"><a href="#">Scedule Followup</a></li>
                <li class="btn-pro"><a href="#">Duplicate</a></li>
                <li class="btn-pro"><a href="#">Email</a></li>
                <li class="btn-pro"><a href="#">Enable Login</a></li>
            </div>
            <div class="print">
                <a href="#"><img matTooltip="Print" src="../../../assets/img/004-printer.png" alt=""></a>
            </div>
            <div class="convert">
                <a href="#"><img matTooltip="Convert" src="../../../assets/img/001-exchange.png" alt=""></a>
            </div>
            <div class="relative">
                <a href="#"><img matTooltip="Delete" src="../../../assets/img/002-delete-friend.png" alt=""></a>
            </div>
        </div>
    </div>
</section>
<mat-accordion>
    <mat-expansion-panel hideToggle [expanded]="true">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Contact Details
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="form-grid">
            <form action="#" class="d-flex justify-content-evenly align-items-center">
                <div class="div d-flex align-items-baseline">
                    <label for="name">First Name</label>
                <mat-form-field class="example-full-width">
                    <input matInput disabled value="Mr. Jeff ">
                </mat-form-field>
                </div>
                <div class="div d-flex align-items-baseline">
                    <label for="name">Last Name</label>
                <mat-form-field class="example-full-width">
                    <input matInput disabled value="Aldorisio">
                </mat-form-field>
                </div>
                <div class="div d-flex align-items-baseline">
                    <label for="name">Job Title</label>
                <mat-form-field class="example-full-width">
                    <input matInput disabled value="Networks Lead">
                </mat-form-field>
                </div>
            </form>
            <form action="#" class="d-flex justify-content-evenly align-items-center">
                <div class="div d-flex align-items-baseline">
                    <label for="name">First Name</label>
                <mat-form-field class="example-full-width">
                    <input matInput disabled value="Mr. Jeff ">
                </mat-form-field>
                </div>
                <div class="div d-flex align-items-baseline">
                    <label for="name">Last Name</label>
                <mat-form-field class="example-full-width">
                    <input matInput disabled value="Aldorisio">
                </mat-form-field>
                </div>
                <div class="div d-flex align-items-baseline">
                    <label for="name">Job Title</label>
                <mat-form-field class="example-full-width">
                    <input matInput disabled value="Networks Lead">
                </mat-form-field>
                </div>
            </form>
            <form action="#" class="d-flex justify-content-evenly align-items-center">
                <div class="div d-flex align-items-baseline">
                    <label for="name">First Name</label>
                <mat-form-field class="example-full-width">
                    <input matInput disabled value="Mr. Jeff ">
                </mat-form-field>
                </div>
                <div class="div d-flex align-items-baseline">
                    <label for="name">Last Name</label>
                <mat-form-field class="example-full-width">
                    <input matInput disabled value="Aldorisio">
                </mat-form-field>
                </div>
                <div class="div d-flex align-items-baseline">
                    <label for="name">Job Title</label>
                <mat-form-field class="example-full-width">
                    <input matInput disabled value="Networks Lead">
                </mat-form-field>
                </div>
            </form>
        </div>
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Contact Information
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="form-grid">
            <form action="#" class="d-flex justify-content-evenly align-items-center">
                <div class="div d-flex align-items-baseline">
                    <label for="name">First Name</label>
                <mat-form-field class="example-full-width">
                    <input matInput disabled value="Mr. Jeff ">
                </mat-form-field>
                </div>
                <div class="div d-flex align-items-baseline">
                    <label for="name">Last Name</label>
                <mat-form-field class="example-full-width">
                    <input matInput disabled value="Aldorisio">
                </mat-form-field>
                </div>
                <div class="div d-flex align-items-baseline">
                    <label for="name">Job Title</label>
                <mat-form-field class="example-full-width">
                    <input matInput disabled value="Networks Lead">
                </mat-form-field>
                </div>
            </form>
        </div>
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Address Information
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="form-grid">
            <form action="#" class="d-flex justify-content-evenly align-items-center">
                <div class="div d-flex align-items-baseline">
                    <label for="name">First Name</label>
                <mat-form-field class="example-full-width">
                    <input matInput disabled value="Mr. Jeff ">
                </mat-form-field>
                </div>
                <div class="div d-flex align-items-baseline">
                    <label for="name">Last Name</label>
                <mat-form-field class="example-full-width">
                    <input matInput disabled value="Aldorisio">
                </mat-form-field>
                </div>
                <div class="div d-flex align-items-baseline">
                    <label for="name">Job Title</label>
                <mat-form-field class="example-full-width">
                    <input matInput disabled value="Networks Lead">
                </mat-form-field>
                </div>
            </form>
        </div>
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Additional Information
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="form-grid">
            <form action="#" class="d-flex justify-content-evenly align-items-center">
                <div class="div d-flex align-items-baseline">
                    <label for="name">First Name</label>
                <mat-form-field class="example-full-width">
                    <input matInput disabled value="Mr. Jeff ">
                </mat-form-field>
                </div>
                <div class="div d-flex align-items-baseline">
                    <label for="name">Last Name</label>
                <mat-form-field class="example-full-width">
                    <input matInput disabled value="Aldorisio">
                </mat-form-field>
                </div>
                <div class="div d-flex align-items-baseline">
                    <label for="name">Job Title</label>
                <mat-form-field class="example-full-width">
                    <input matInput disabled value="Networks Lead">
                </mat-form-field>
                </div>
            </form>
        </div>
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Hobbies & Interests
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="form-grid">
            <form action="#" class="d-flex justify-content-evenly align-items-center">
                <div class="div d-flex align-items-baseline">
                    <label for="name">First Name</label>
                <mat-form-field class="example-full-width">
                    <input matInput disabled value="Mr. Jeff ">
                </mat-form-field>
                </div>
                <div class="div d-flex align-items-baseline">
                    <label for="name">Last Name</label>
                <mat-form-field class="example-full-width">
                    <input matInput disabled value="Aldorisio">
                </mat-form-field>
                </div>
                <div class="div d-flex align-items-baseline">
                    <label for="name">Job Title</label>
                <mat-form-field class="example-full-width">
                    <input matInput disabled value="Networks Lead">
                </mat-form-field>
                </div>
            </form>
        </div>
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Social Information
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="form-grid">
            <form action="#" class="d-flex justify-content-evenly align-items-center">
                <div class="div d-flex align-items-baseline">
                    <label for="name">First Name</label>
                <mat-form-field class="example-full-width">
                    <input matInput disabled value="Mr. Jeff ">
                </mat-form-field>
                </div>
                <div class="div d-flex align-items-baseline">
                    <label for="name">Last Name</label>
                <mat-form-field class="example-full-width">
                    <input matInput disabled value="Aldorisio">
                </mat-form-field>
                </div>
                <div class="div d-flex align-items-baseline">
                    <label for="name">Job Title</label>
                <mat-form-field class="example-full-width">
                    <input matInput disabled value="Networks Lead">
                </mat-form-field>
                </div>
            </form>
        </div>
    </mat-expansion-panel>
</mat-accordion>